include mixins

#navbar

  ul#navmenu
    li
      a(href='/', class=active == 'home' ? 'active' : '')#home-menu Home

    li
      ul#getting-started-menu.menu
        li
          a(href='/starter/how-superscript-works', class=active == 'starter' ? 'active' : '') Getting started
          ul
            li
              a(href='/starter/how-superscript-works') How it works
            li
              a(href='/starter/quickstart') Quickstart

    li
      ul#guide-menu.menu
        li
          a(href='/documentation/scripting', class=active == 'guide' ? 'active' : '') Documentation
          ul
            li
              a(href='/documentation/scripting' ) Scripting API
            li
              a(href='/documentation/lib' ) Library API

    li
      ul#npm-menu.menu
        li
          a(href='https://www.npmjs.org/package/superscript', class=active == 'source' ? 'active' : '') NPM

    li
      ul#src-menu.menu
        li
          a(href='https://github.com/silentrob/superscript', class=active == 'source' ? 'active' : '') Source


    //- li
    //-   ul#advanced-topics-menu.menu
    //-     li
    //-       a(href='/advanced/slack.html', class=active == 'advanced' ? 'active' : '') Advanced topics
    //-       ul
    //-         li
    //-           a(href='/advanced/slack.html') Slack Intergration

    //- 