include mixins

#navbar

  ul#navmenu
    li
      a(href='/', class=active == 'home' ? 'active' : '')#home-menu Home

    li
      ul#getting-started-menu.menu
        li
          a(href='https://github.com/superscriptjs/superscript/wiki/Installing', class=active == 'starter' ? 'active' : '') Getting started
    li
      ul#guide-menu.menu
        li
          a(href='https://github.com/superscriptjs/superscript/wiki', class=active == 'guide' ? 'active' : '') Documentation

    li
      ul#npm-menu.menu
        li
          a(href='https://www.npmjs.org/package/superscript', class=active == 'source' ? 'active' : '') NPM

    li
      ul#src-menu.menu
        li
          a(href='https://github.com/superscriptjs/superscript', class=active == 'source' ? 'active' : '') Source

    li
      ul#chat-menu.menu
        li
          a(href='http://superscript-slackin.herokuapp.com/') Community
